body {
  background-image: url(https://source.unsplash.com/category/nature/1600x900);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: white;
  animation: fadeIn 0.5s linear;
}

.form,
.greetings {
  display: none;
}

.showing {
  display: block;
}

ul {
  list-style: none;
}

button {
  border: none;
  background-color: white;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
